{% extends "base.html" %}
{% block titulo %}Cadastrar feira{% endblock %}
{% block conteudo %}
    <form action="/feira/novo" method="POST">
        <p>
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" autocomplete="off" />
        </p>
        <p>
            <label for="horario">Horário:</label>
            <input type="text" id="horario" name="horario" autocomplete="off" />
        </p>
        <p>
            <label for="dia">Dia:</label>
            <input type="text" id="dia" name="dia" autocomplete="off" />
        </p>
        <p>
            <button type="submit" class="btn-default">Salvar</button>

        </p>
    </form>
    <button class="btn-default"><a href="/">Voltar</a></button>

{% endblock %}