{% extends "base.html" %}
{% block titulo %}Feirantes{% endblock %}
{% block conteudo %}
    <h1>Feirantes:</h1>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Barraca</td>
            <td>Sexo</td>
            <td>feira</td>
            <td>&nbsp;</td>
        </tr>
        {% for feirante in feirantes %}
            <tr>
                <td>{{feirante['id_feirante']}}</td>
                <td>{{feirante['nome_feirante']}}</td>
                <td>{{feirante['barraca']}}</td>
                <td>{% if feirante['sexo'] == 'M' %}Masculino{% else %}Feminino{% endif %}</td>
                <td>{{feirante['bairro']}}</td>
                <td>{% if feirante['id_foto'] != '' %}
                    <img src="{{ url_for('feirante_download_foto', id_foto = feirante['id_foto']) }}" id="foto" width="100"/>
                {% else %}
                    <img src="{{ url_for('static', filename = 'no-photo.png') }}" id="foto" width="100"/>
                {% endif %}</td>
                <td><a href="/feirante/{{feirante['id_feirante']}}">Editar</a></td>
            </tr>
        {% endfor %}
    </table>
    <button class="btn-default"><a href="/">Voltar</a></button>
{% endblock %}